{% extends "base.html" %}
{% block title %} Автомобили предприятия: <b>{{ enterprise.name }}</b>{% endblock %}

{% block content %}
<h1>Машины предприятия: {{ enterprise.name }}</h1>
<a href="{% url 'vehicle-add' enterprise.id %}" class="btn btn-success mb-3">
    Добавить машину
</a>
<table class="table table-striped">
    <thead>
    <tr>
        <th>VIN</th>
        <th>Цена</th>
        <th>Год выпуска</th>
        <th>Пробег</th>
        <th>Дата покупки</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    {% for vehicle in vehicles %}
    <tr>
        <!-- VIN кликабельный -->
        <td>
            <a href="{% url 'vehicle-detail' pk=enterprise.id vehicle_id=vehicle.id %}">
                {{ vehicle.vin }}
            </a>
        </td>
        <td>{{ vehicle.price }}</td>
        <td>{{ vehicle.release_year }}</td>
        <td>{{ vehicle.mileage }}</td>
        <td>{{vehicle.purchase_datetime}}</td>
        <td>
            <a href="{% url 'vehicle-edit' enterprise.id vehicle.id %}" class="btn btn-primary btn-sm">Изм.</a>
            <a href="{% url 'vehicle-delete' enterprise.id vehicle.id %}" class="btn btn-danger btn-sm">Уд.</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">Нет машин для этого предприятия</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
